<div class="jumbotron center">
	<h1>How do you like my castle?</h1>
	<p>Walter wants to take you to <%= link_to "Tickletime", "#", class: "btn btn-primary btn-lg" %></p>
	<p> For a good time, <%= link_to "sign up", "#", class: "btn btn-primary" %> today </p>
	<p> To continue the good times, <%= link_to "log in", "#", class: "btn btn-primary" %> </p>
</div>
