<div class="jumbotron center">
	<h1>How do you like my castle?</h1>
	<p> If you'd like a look around, <%= link_to "sign up", "#", class: "btn btn-primary" %> today </p>
	<p> Took a tour and now you're back? , <%= link_to "Log In!", "#", class: "btn btn-primary" %> </p>
</div>
